.container {
    font-size: 1.1rem;
    background-color: #fae4a9;
    height: 500px;
    width: 250px;
    border-radius: 10px;
    margin-left: 35px;
    margin-bottom: 35px;
}

.link{
    text-decoration: none;
    color: black;
}

.image{
    display: flex;
    height: 300px;
    width: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    justify-content: center;
}

.name{
    justify-content: center;
}

.info{
    justify-content: center;
    font-size: small;
    text-decoration: none;
}