.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
    width:80%;
}

.containerFilters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #6c2f2c;
}
.containerOneFilter{
    font-weight: bold;
    color: #efc861;
    margin-left: 20px;
    height: 100px;
    width: 200px;
}

.btn{
    margin-top: 20px;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    color: #efc861;
    background-color: #6c2f2c;
    font-weight: bold;
}

.btn:hover{
    background-color: #d38a50;
    color: white;
    transition: 0.4s;
}

